[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
display = "*"
matplotlib = "*"
ipython = "*"
sklearn = "*"
numpy = "*"
seaborn = "*"
networkx = "*"
pydot = "*"
pyvis = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
